In [13]:
from pandas_datareader import data, wb
import pandas as pd
import yfinance as yf
yf.pdr_override()
import datetime
from datetime import datetime
from datetime import date

In [3]:
user_contract = ['ZNZ6','TNZ6','ZBZ6']
data = [[1,2,3],[4,5,6],[7,8,9]]

In [4]:
myvars = {user_contract[i]: data[i] for i in range(len(user_contract))}

In [8]:
myvars

{'ZNZ6': [1, 2, 3], 'TNZ6': [4, 5, 6], 'ZBZ6': [7, 8, 9]}

In [14]:
start_date = '2005-01-01'
end_date = date.today()

In [6]:
tickersOfInterest = pd.read_csv('tickersofinterest.csv')
tickerStr = []
for number in range(0,len(tickersOfInterest)):
    tickerStr.append(tickersOfInterest.iloc[number].values[0])

In [28]:
stock_data = {}
for i in range(len(tickerStr)):
    case = {tickerStr[i]:data.get_data_yahoo(tickerStr[i], start_date, end_date)}
    stock_data.update(case)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [30]:
stock_data.items()

dict_items([('ASML',                   Open        High         Low       Close   Adj Close  \
Date
2004-12-31   17.932501   18.101250   17.865000   17.910000   11.479065
2005-01-03   18.123751   18.180000   17.639999   17.696251   11.342066
2005-01-04   17.651251   17.707500   16.987499   17.111250   10.967123
2005-01-05   17.010000   17.077499   16.807501   16.863750   10.808492
2005-01-06   16.740000   16.818750   16.548750   16.593750   10.635442
...                ...         ...         ...         ...         ...
2020-06-09  346.619995  353.140015  345.179993  349.329987  349.329987
2020-06-10  351.010010  353.420013  347.709991  347.920013  347.920013
2020-06-11  341.600006  344.820007  332.799988  332.890015  332.890015
2020-06-12  346.260010  347.269989  337.250000  343.070007  343.070007
2020-06-15  337.510010  350.010010  336.630005  350.010010  350.010010

             Volume
Date
2004-12-31   496900
2005-01-03  1658400
2005-01-04  2101600
2005-01-05  2320300
2005-01-06  2202400
...             ...
2020-06-09   737200
2020-06-10   997900
2020-06-11   919300
2020-06-12   845000
2020-06-15   598200

[3890 rows x 6 columns]), ('AAPL',                   Open        High         Low       Close   Adj Close  \
Date
2004-12-31    4.635000    4.642857    4.573571    4.600000    3.982207
2005-01-03    4.627143    4.650714    4.471428    4.520714    3.913571
2005-01-04    4.556428    4.676429    4.497857    4.567143    3.953765
2005-01-05    4.604286    4.660714    4.575000    4.607143    3.988392
2005-01-06    4.619286    4.636428    4.523571    4.610714    3.991483
...                ...         ...         ...         ...         ...
2020-06-09  332.140015  345.609985  332.010010  343.989990  343.989990
2020-06-10  347.899994  354.769989  346.089996  352.839996  352.839996
2020-06-11  349.309998  351.059998  335.480011  335.899994  335.899994
2020-06-12  344.720001  347.799988  334.220001  338.799988  338.799988
2020-06-15  333.250000  345.679993  332.579987  342.989990  342.989990

               Volume
Date
2004-12-31   69647200
2005-01-03  172998000
2005-01-04  274202600
2005-01-05  170108400
2005-01-06  176388800
...               ...
2020-06-09   36928100
2020-06-10   41662900
2020-06-11   50415600
2020-06-12   50001500
2020-06-15   34642900

[3890 rows x 6 columns]), ('SOXL',                   Open        High         Low       Close   Adj Close  \
Date
2010-03-11    9.637500    9.907500    9.637500    9.907500    9.299605
2010-03-12    9.915000    9.980000    9.662500    9.662500    9.069636
2010-03-15    9.467500    9.570000    9.212500    9.357500    8.783351
2010-03-16    9.475000   10.127500    9.460000   10.117500    9.496718
2010-03-17   10.500000   10.605000   10.292500   10.482500    9.839323
...                ...         ...         ...         ...         ...
2020-06-09  186.199997  195.149994  184.220001  193.160004  193.160004
2020-06-10  197.300003  200.740005  192.830002  194.940002  194.940002
2020-06-11  180.020004  182.339996  157.520004  157.740005  157.740005
2020-06-12  172.380005  173.979996  153.889999  164.279999  164.279999
2020-06-15  153.910004  171.929993  151.729996  171.490005  171.490005

             Volume
Date
2010-03-11   246800
2010-03-12   303200
2010-03-15    35600
2010-03-16    84000
2010-03-17   174000
...             ...
2020-06-09  1487800
2020-06-10  1576500
2020-06-11  3170800
2020-06-12  2356100
2020-06-15  1933200

[2584 rows x 6 columns]), ('WMT',                   Open        High         Low       Close   Adj Close  \
Date
2004-12-31   53.070000   53.180000   52.560001   52.820000   37.341057
2005-01-03   53.750000   54.299999   53.299999   53.349998   37.715752
2005-01-04   53.770000   53.889999   53.020000   53.220001   37.623844
2005-01-05   53.500000   53.639999   53.110001   53.290001   37.673340
2005-01-06   53.900002   54.189999   53.150002   54.049999   38.210606
...                ...         ...         ...         ...         ...
2020-06-09  121.599998  122.000000  120.559998  121.349998  121.349998
2020-06-10  121.559998  122.500000  121.129997  121.160004  121.160004
2020-06-11  120.989998  122.580002  119.480003  120.089996  120.089996
2020-06-12  120.510002  120.750000  117.059998  117.739998  117.739998
2020-06-15  118.400002  118.680000  117.010002  118.080002  118.080002

              Volume
Date
2004-12-31   8406700
2005-01-03  16078400
2005-01-04  10596700
2005-01-05   8241500
2005-01-06  14028800
...              ...
2020-06-09   6915400
2020-06-10   9380500
2020-06-11  11387600
2020-06-12  10781100
2020-06-15  10888700

[3890 rows x 6 columns]), ('MA',                   Open        High         Low       Close   Adj Close  \
Date
2006-05-25    4.030000    4.605000    4.020000    4.600000    4.283754
2006-05-26    4.630000    4.674000    4.411000    4.493000    4.184108
2006-05-30    4.497000    4.498000    4.285000    4.400000    4.097505
2006-05-31    4.435000    4.536000    4.435000    4.494000    4.185040
2006-06-01    4.493000    4.810000    4.490000    4.751000    4.424373
...                ...         ...         ...         ...         ...
2020-06-09  309.779999  313.470001  308.200012  311.489990  311.489990
2020-06-10  312.390015  316.059998  310.290009  313.149994  313.149994
2020-06-11  305.010010  306.489990  291.059998  291.250000  291.250000
2020-06-12  298.790009  299.989990  290.890015  297.790009  297.790009
2020-06-15  290.000000  298.920013  288.750000  297.170013  297.170013

               Volume
Date
2006-05-25  395343000
2006-05-26  103044000
2006-05-30   49898000
2006-05-31   30002000
2006-06-01   62344000
...               ...
2020-06-09    3314800
2020-06-10    4089000
2020-06-11    6505300
2020-06-12    4509900
2020-06-15    5932900

[3538 rows x 6 columns]), ('MSFT',                   Open        High         Low       Close   Adj Close  \
Date
2004-12-31   26.750000   26.900000   26.680000   26.719999   19.279480
2005-01-03   26.799999   26.950001   26.650000   26.740000   19.293917
2005-01-04   26.870001   27.100000   26.660000   26.840000   19.366064
2005-01-05   26.840000   27.100000   26.760000   26.780001   19.322775
2005-01-06   26.850000   27.059999   26.639999   26.750000   19.301130
...                ...         ...         ...         ...         ...
2020-06-09  188.000000  190.699997  187.259995  189.800003  189.800003
2020-06-10  191.130005  198.520004  191.009995  196.839996  196.839996
2020-06-11  193.130005  195.759995  186.070007  186.270004  186.270004
2020-06-12  190.539993  191.720001  185.179993  187.740005  187.740005
2020-06-15  184.580002  190.820007  184.009995  188.940002  188.940002

               Volume
Date
2004-12-31   54959500
2005-01-03   65002900
2005-01-04  109442100
2005-01-05   72463500
2005-01-06   76890500
...               ...
2020-06-09   29783900
2020-06-10   43872300
2020-06-11   52854700
2020-06-12   43345700
2020-06-15   32712500

[3890 rows x 6 columns]), ('NKE',                   Open        High         Low       Close   Adj Close  \
Date
2004-12-31   11.350000   11.430000   11.336250   11.336250    5.373693
2005-01-03   11.325000   11.417500   11.281250   11.336250    5.373693
2005-01-04   11.333750   11.368750   11.151250   11.175000    5.297256
2005-01-05   11.206250   11.236250   11.032500   11.041250    5.233855
2005-01-06   11.033750   11.075000   10.901250   11.027500    5.227335
...                ...         ...         ...         ...         ...
2020-06-09  102.820000  103.769997  102.430000  102.629997  102.629997
2020-06-10  103.000000  103.150002  101.709999  102.120003  102.120003
2020-06-11   98.379997   98.989998   94.879997   95.169998   95.169998
2020-06-12   97.800003   97.800003   94.739998   96.430000   96.430000
2020-06-15   93.900002   98.080002   93.440002   97.839996   97.839996

              Volume
Date
2004-12-31   4444800
2005-01-03   8897600
2005-01-04   6463200
2005-01-05   8606400
2005-01-06   8915200
...              ...
2020-06-09   5385900
2020-06-10   5194200
2020-06-11  10976900
2020-06-12   7415700
2020-06-15   8645300

[3890 rows x 6 columns]), ('INTC',                  Open       High        Low      Close  Adj Close    Volume
Date
2004-12-31  23.350000  23.490000  23.240000  23.389999  15.166282  31951800
2005-01-03  23.639999  23.790001  23.049999  23.070000  14.958796  64246900
2005-01-04  23.190001  23.209999  22.350000  22.610001  14.660528  93729100
2005-01-05  22.469999  22.780001  22.370001  22.389999  14.517877  73848800
2005-01-06  22.580000  22.730000  22.410000  22.459999  14.563265  63440900
...               ...        ...        ...        ...        ...       ...
2020-06-09  62.990002  63.709999  62.900002  63.040001  63.040001  23594100
2020-06-10  62.790001  64.290001  62.750000  63.869999  63.869999  21367800
2020-06-11  63.070000  63.299999  59.520000  59.700001  59.700001  26998200
2020-06-12  60.110001  60.959999  58.119999  59.330002  59.330002  30404600
2020-06-15  59.330002  60.360001  58.580002  60.099998  60.099998  29622700

[3890 rows x 6 columns]), ('BABA',                   Open        High         Low       Close   Adj Close  \
Date
2014-09-19   92.699997   99.699997   89.949997   93.889999   93.889999
2014-09-22   92.699997   92.949997   89.500000   89.889999   89.889999
2014-09-23   88.940002   90.480003   86.620003   87.169998   87.169998
2014-09-24   88.470001   90.570000   87.220001   90.570000   90.570000
2014-09-25   91.089996   91.500000   88.500000   88.919998   88.919998
...                ...         ...         ...         ...         ...
2020-06-09  216.309998  220.720001  216.199997  220.720001  220.720001
2020-06-10  222.000000  225.000000  220.600006  223.679993  223.679993
2020-06-11  218.000000  219.949997  213.559998  215.240005  215.240005
2020-06-12  218.500000  219.500000  213.880005  217.639999  217.639999
2020-06-15  214.110001  217.720001  212.750000  217.029999  217.029999

               Volume
Date
2014-09-19  271879400
2014-09-22   66657800
2014-09-23   39009800
2014-09-24   32088000
2014-09-25   28598000
...               ...
2020-06-09   14140100
2020-06-10   13372400
2020-06-11   15560300
2020-06-12   12707600
2020-06-15   17388700

[1444 rows x 6 columns]), ('BYND',                   Open        High         Low       Close   Adj Close  \
Date
2019-05-02   46.000000   72.949997   45.000000   65.750000   65.750000
2019-05-03   72.000000   74.000000   65.660004   66.790001   66.790001
2019-05-06   62.730000   74.839996   62.500000   74.790001   74.790001
2019-05-07   77.139999   85.449997   75.000000   79.169998   79.169998
2019-05-08   83.610001   85.379997   70.785004   72.250000   72.250000
...                ...         ...         ...         ...         ...
2020-06-09  156.710007  161.539993  148.559998  153.949997  153.949997
2020-06-10  155.000000  163.080002  153.649994  156.160004  156.160004
2020-06-11  147.210007  155.240005  140.250000  143.509995  143.509995
2020-06-12  151.330002  151.940994  141.649994  144.740005  144.740005
2020-06-15  142.600006  154.399994  141.009995  154.000000  154.000000

              Volume
Date
2019-05-02  23119000
2019-05-03  13139400
2019-05-06   8746200
2019-05-07  16532100
2019-05-08  14696300
...              ...
2020-06-09  13834100
2020-06-10   8852300
2020-06-11   9487200
2020-06-12   5693700
2020-06-15   6452500

[283 rows x 6 columns]), ('BLK',                   Open        High         Low       Close   Adj Close  \
Date
2004-12-31   77.019997   77.980003   77.019997   77.260002   53.442368
2005-01-03   77.010002   77.349998   75.769997   75.779999   52.418610
2005-01-04   75.769997   76.250000   74.949997   75.550003   52.259510
2005-01-05   75.699997   75.699997   74.750000   74.849998   51.775303
2005-01-06   76.250000   80.580002   76.209999   80.000000   55.337688
...                ...         ...         ...         ...         ...
2020-06-09  547.969971  562.500000  546.950012  558.059998  558.059998
2020-06-10  559.450012  567.580017  555.630005  558.059998  558.059998
2020-06-11  544.070007  548.669983  521.140015  525.210022  525.210022
2020-06-12  538.400024  539.130005  516.099976  527.039978  527.039978
2020-06-15  518.229980  549.590027  515.719971  543.030029  543.030029

             Volume
Date
2004-12-31    20400
2005-01-03    25900
2005-01-04    24500
2005-01-05    24600
2005-01-06   300600
...             ...
2020-06-09   851900
2020-06-10   779700
2020-06-11  1250800
2020-06-12  1065600
2020-06-15  1242900

[3890 rows x 6 columns]), ('SKY',                  Open       High        Low      Close  Adj Close  Volume
Date
2004-12-31  41.000000  41.000000  40.759998  40.799999  30.935057    6800
2005-01-03  40.849998  41.180000  40.590000  40.939999  31.041201   15700
2005-01-04  41.049999  41.139999  40.200001  40.200001  30.480131   17200
2005-01-05  40.119999  40.150002  39.029999  39.040001  29.600599   12500
2005-01-06  39.000000  39.200001  38.500000  38.500000  29.191175    9500
...               ...        ...        ...        ...        ...     ...
2020-06-09  25.600000  25.760000  24.950001  25.320000  25.320000  631300
2020-06-10  25.250000  25.440001  24.299999  24.709999  24.709999  852500
2020-06-11  23.100000  24.000000  21.700001  21.709999  21.709999  932300
2020-06-12  22.799999  23.340000  21.700001  22.400000  22.400000  672700
2020-06-15  21.309999  24.290001  21.309999  24.280001  24.280001  542800

[3890 rows x 6 columns]), ('GM',                  Open       High        Low      Close  Adj Close     Volume
Date
2010-11-18  35.000000  35.990002  33.889999  34.189999  26.155519  457044300
2010-11-19  34.150002  34.500000  33.110001  34.259998  26.209070  107842000
2010-11-22  34.200001  34.480000  33.810001  34.080002  26.071363   36650600
2010-11-23  33.950001  33.990002  33.189999  33.250000  25.436413   31170200
2010-11-24  33.730000  33.799999  33.220001  33.480000  25.612371   26138000
...               ...        ...        ...        ...        ...        ...
2020-06-09  29.400000  30.219999  28.709999  29.860001  29.860001   16945500
2020-06-10  29.799999  29.840000  28.420000  28.750000  28.750000   15648000
2020-06-11  26.620001  27.799999  26.290001  26.500000  26.500000   19121900
2020-06-12  28.719999  28.959999  27.070000  27.959999  27.959999   21577300
2020-06-15  26.610001  28.100000  26.570000  27.770000  27.770000   15300100

[2408 rows x 6 columns]), ('AXP',                   Open        High         Low       Close   Adj Close  \
Date
2004-12-31   49.288143   49.752052   49.165600   49.340660   38.815456
2005-01-03   49.541981   49.830830   48.841740   48.938023   38.498718
2005-01-04   48.938023   49.008045   48.018959   48.202770   37.920311
2005-01-05   48.185265   48.202770   47.581306   47.651333   37.580048
2005-01-06   47.563801   47.721355   47.091141   47.406246   37.386765
...                ...         ...         ...         ...         ...
2020-06-09  110.080002  111.800003  108.669998  110.459999  110.459999
2020-06-10  110.000000  110.330002  105.959999  106.160004  106.160004
2020-06-11  100.870003  102.989998   98.129997   98.599998   98.599998
2020-06-12  103.209999  103.500000   98.080002  101.680000  101.680000
2020-06-15  100.000000  104.739998   97.620003  103.949997  103.949997

             Volume
Date
2004-12-31  2171000
2005-01-03  5251500
2005-01-04  4642200
2005-01-05  4681400
2005-01-06  4947600
...             ...
2020-06-09  5517400
2020-06-10  5747400
2020-06-11  8601200
2020-06-12  7249500
2020-06-15  6472400

[3890 rows x 6 columns]), ('ARKK',                  Open       High        Low      Close  Adj Close   Volume
Date
2014-10-31  20.420000  20.420000  20.379999  20.379999  18.997141     2700
2014-11-03  20.490000  20.490000  20.350000  20.379999  18.997141     2300
2014-11-04  20.200001  20.270000  20.200001  20.260000  18.885284     7900
2014-11-05  20.510000  20.510000  20.000000  20.000000  18.642925    14900
2014-11-06  20.090000  20.139999  20.070000  20.139999  18.773426     2000
...               ...        ...        ...        ...        ...      ...
2020-06-09  64.599998  66.599998  64.419998  65.610001  65.610001  1750400
2020-06-10  66.639999  67.040001  65.639999  66.510002  66.510002  1272000
2020-06-11  63.930000  64.470001  61.500000  61.570000  61.570000  1822100
2020-06-12  63.720001  63.840000  60.611000  62.419998  62.419998  1185900
2020-06-15  60.740002  64.769997  60.740002  64.639999  64.639999  1619300

[1414 rows x 6 columns]), ('PYPL',                   Open        High         Low       Close   Adj Close  \
Date
2015-07-06   38.000000   39.750000   36.000000   36.709999   36.709999
2015-07-07   37.720001   37.810001   36.000000   36.619999   36.619999
2015-07-08   36.340000   36.360001   34.529999   34.700001   34.700001
2015-07-09   35.099998   35.520000   33.990002   34.500000   34.500000
2015-07-10   34.660000   35.189999   33.980000   34.689999   34.689999
...                ...         ...         ...         ...         ...
2020-06-09  155.789993  158.210007  155.595001  156.860001  156.860001
2020-06-10  157.600006  160.889999  157.600006  159.910004  159.910004
2020-06-11  158.339996  159.500000  152.914993  153.039993  153.039993
2020-06-12  157.059998  157.210007  151.889999  155.259995  155.259995
2020-06-15  152.630005  157.919998  152.220001  157.550003  157.550003

             Volume
Date
2015-07-06  5866600
2015-07-07  7359000
2015-07-08  5387700
2015-07-09  3760100
2015-07-10  4472800
...             ...
2020-06-09  7265600
2020-06-10  5881800
2020-06-11  9041700
2020-06-12  7035700
2020-06-15  5115000

[1246 rows x 6 columns]), ('RY',                  Open       High        Low      Close  Adj Close   Volume
Date
2004-12-31  26.629999  26.785000  26.629999  26.719999  14.429838   102400
2005-01-03  26.719999  26.719999  26.264999  26.434999  14.275930   112800
2005-01-04  26.389999  26.389999  26.014999  26.125000  14.108517   123400
2005-01-05  26.020000  26.150000  25.915001  25.934999  14.005911   179000
2005-01-06  25.830000  25.870001  25.510000  25.639999  13.846596   175600
...               ...        ...        ...        ...        ...      ...
2020-06-09  70.360001  71.360001  70.250000  70.650002  70.650002  1590000
2020-06-10  70.860001  71.190002  69.589996  69.739998  69.739998   940000
2020-06-11  67.370003  68.019997  65.809998  65.989998  65.989998  1405000
2020-06-12  67.949997  68.260002  66.599998  67.300003  67.300003  2190400
2020-06-15  65.709999  68.330002  65.419998  67.370003  67.370003  1095300

[3890 rows x 6 columns]), ('FCN',                   Open        High         Low       Close   Adj Close  Volume
Date
2004-12-31   20.830000   21.200001   20.750000   21.070000   21.070000  261500
2005-01-03   21.090000   21.950001   21.090000   21.700001   21.700001  408900
2005-01-04   21.600000   21.709999   21.180000   21.180000   21.180000  346200
2005-01-05   21.000000   21.000000   20.590000   20.650000   20.650000  304100
2005-01-06   20.600000   20.780001   20.480000   20.549999   20.549999  118200
...                ...         ...         ...         ...         ...     ...
2020-06-09  114.650002  114.650002  110.820000  112.330002  112.330002  506900
2020-06-10  112.419998  113.709999  109.610001  111.160004  111.160004  462700
2020-06-11  109.190002  111.440002  108.550003  109.120003  109.120003  637200
2020-06-12  111.629997  111.629997  103.230003  105.839996  105.839996  805100
2020-06-15  104.309998  106.010002  102.760002  104.330002  104.330002  593600

[3890 rows x 6 columns]), ('ENPH',                  Open       High        Low      Close  Adj Close    Volume
Date
2012-03-30   7.500000   8.240000   7.060000   7.340000   7.340000   5048600
2012-04-02   7.650000   8.200000   7.400000   7.810000   7.810000    495500
2012-04-03   7.750000   7.800000   7.500000   7.640000   7.640000    316600
2012-04-04   7.770000   7.770000   7.310000   7.450000   7.450000    165100