In [13]:
from pandas_datareader import data, wb
import pandas as pd
import yfinance as yf
yf.pdr_override()
import datetime
from datetime import datetime
from datetime import date

In [50]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
start_date = '2005-01-01'
end_date = date.today()

In [6]:
tickersOfInterest = pd.read_csv('tickersofinterest.csv')
tickerStr = []
for number in range(0,len(tickersOfInterest)):
    tickerStr.append(tickersOfInterest.iloc[number].values[0])

In [28]:
stock_data = {}
for i in range(len(tickerStr)):
    case = {tickerStr[i]:data.get_data_yahoo(tickerStr[i], start_date, end_date)}
    stock_data.update(case)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [121]:
stock_data_returns = {}
for i in range(len(stock_data.keys())):
    case = {tickerStr[i]: stock_data[tickerStr[i]].pct_change()}
    stock_data_returns.update(case)

In [122]:
stock_data_returns['ASML']

                Open      High       Low     Close  Adj Close    Volume
Date
2004-12-31       NaN       NaN       NaN       NaN        NaN       NaN
2005-01-03  0.010665  0.004351 -0.012594 -0.011935  -0.011935  2.337492
2005-01-04 -0.026071 -0.025990 -0.036990 -0.033058  -0.033058  0.267246
2005-01-05 -0.036329 -0.035578 -0.010596 -0.014464  -0.014464  0.104064
2005-01-06 -0.015873 -0.015151 -0.015395 -0.016011  -0.016011 -0.050812
...              ...       ...       ...       ...        ...       ...
2020-06-09 -0.012394  0.004466  0.006033  0.000229   0.000229 -0.264051
2020-06-10  0.012665  0.000793  0.007330 -0.004036  -0.004036  0.353635
2020-06-11 -0.026808 -0.024334 -0.042881 -0.043200  -0.043200 -0.078765
2020-06-12  0.013642  0.007105  0.013371  0.030581   0.030581 -0.080822
2020-06-15 -0.025270  0.007890 -0.001838  0.020229   0.020229 -0.292071

[3890 rows x 6 columns]